{%load static%}
{%load crispy_forms_tags%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/App.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{%static 'JS/dial-number.js' %}" integrity=""></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <title>Make Call</title>
  </head>
  <body class="Home-Page">
    <h1>
      <a href="{%url "Communication:call-view"%}" class="back">
        <img src="{%static 'Images/back.png' %}" class="back">
      </a>
      Dial Number
    </h1>
    <!--<h2 id="number"></h2>-->
    <h2> Input the number to call </h2>
    <div class="container-fluid img-container">
      <form method="POST" action = "{%url 'Communication:calling'%}"class="mt-5">
        {%csrf_token%}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-primary">Number</span>
          </div>
          <input type="text" class="form-control bg-info text-light" name="number">
        </div>
          <div class="form-group mt-5 d-flex justify-content-center" id="buttons">
            <input type="submit" value="Call" class="call-button">
          </div>
        </form>
    </div>
    <script>
      document.querySelector(".call-button").addEventListener('click',calling)
      function calling(){
       div = document.getElementById("buttons")
       button = doucment.createElement("button")
       button.classList.add("end")
       button.classList.add("rounded")
       div.appendChild(button)
       sound = new audio("/static/Sounds/ringing.mp3")
       sound.play()
      }
    </script>
  </body>
</html>
