{%load static%}
{%load crispy_forms_tags%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/App.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <title>View Emails</title>
    <style>
      a:link >section{
        width:100%;
        float:right;
      }
      p{
        font-size:25px
      }
    </style>
  </head>
  <body class="Home-Page">
    <h1>
      <a href="{%url "Communication:email-section"%}" class="back">
        <img src="{%static 'Images/back.png' %}" class="back">
      </a>
      Sent Emails</h1>
    <div class="container-fluid img-container">
      <div clas="rows">
        <div>
        {%for items in email%}
          {%if user.username == items.username%}
            <a href="{%url "Communication:email-conversation" items.to items.id%}" class="contact m-3">
              <section class="bg-info">
                <h4 style="float:left">{{items.to}}</h4><br>
                <h5 style="float:left">{{items.subject}}</h5><br>
                <p>{{items.message}}</p>
                <h6 style="float:right">{{items.time}}</h6>
              </section>
            </a><br>
          {%endif%}
        {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
