{%load static%}
{%load crispy_forms_tags%}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/App.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <title>Tools</title>
  </head>
  <body class="Home-Page">
    <h1>
      <a href="{%url 'Home' %}" class="back">
        <img src="{%static 'Images/back.png' %}" class="back">
      </a>
      Select Tool
    </h1>
    <div class="container-fluid img-container">
      <a href="{%url "Tools:profile" user.username user.id%}" class="icons" title="Your Profile">
        <h4 style="text-align:center">Your Profile</h4>
        <img src="{%static "Images/profile.png" %}">
      </a>
      <a href="{%url 'Tools:translate-view'%}" class="icons" title="Translator">
        <h4 style="text-align:center">Translator</h4>
        <img src="{%static "Images/translate.png" %}">
      </a>
      <a href="{%url 'Tools:cc'%}" class="icons" title="Currency Converter">
        <h4 style="text-align:center">Currency Converter</h4>
        <img src="{%static "Images/cc.png" %}">
      </a>
      <a href="{%url 'Tools:maps'%}" class="icons" title="Maps">
        <h4 style="text-align:center">Maps</h4>
        <img src="{%static "Images/maps.png" %}">
      </a>
      <a href="{%url 'Tools:weather'%}" class="icons" title="Weather">
        <h4 style="text-align:center">Weather</h4>
        <img src="{%static "Images/weather.png" %}">
      </a>
      <a href="{%url 'Tools:auth'%}" class="icons" title="Authenticator">
        <h4 style="text-align:center">Authenticator</h4>
        <img src="{%static "Images/auth.png" %}">
      </a>
      <a href="{%url 'Tools:pi'%}" class="icons" title="Images">
        <h4 style="text-align:center">Picutres and Images</h4>
        <img src="{%static "Images/camera.png" %}">
      </a>
    </div>
  </body>
</html>
