#entrybg{
  /*background-image: linear-gradient(-45deg,#001c5c,#66e6d9,#001c5c);*/
  background-image: url("/static/Images/Entry.gif");
  background-size:cover;
  background-position: center,center;
  background-repeat: no-repeat;
  overflow: scroll;
}
#left{
  width:33.333%;
  float:left;
  height:696px;
  /*background-image: url("/static/Images/Entry.gif");*/
  background-size:cover;
  background-position: center;
}
#right{
  width:33.333%;
  height:696px;
  float:left;
  /*background-image: url("/static/Images/Entry.gif");*/
  background-size:cover;
  background-position: center;
}

#center{
  width:33.333%;
  height:696px;
  float:left;
  /*background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);*/
  background-size:cover;
  background-position: center;
  opacity:0.9
}

.form-adjustment{
  margin-top: 45%;
}

label{
  color:white;
}

h4.title{
  text-shadow: 4px 4px 4px black;
}

input[type="submit"]{
  background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);
  font-family: 'Encode Sans Condensed', sans-serif !important;
  color:white;
  padding:10px 25px 10px 25px;
  border: thin solid #2c9c91;
}

input[type="submit"]:active{
  background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);
  font-family: 'Encode Sans Condensed', sans-serif !important;
  color:white;
  padding:10px 25px 10px 25px;
  border: thin solid #2c9c91;
}

a:link{
  color:white;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}

a:visited{
  color:white;
  text-decoration: none !important;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  color:white !important;
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
p{
  color:white;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
#make-account-form{
  width:50%;
}

#successful-creation{
  margin-top: 200px;
  color:green !important;
  width:50%;
}
button.login-button{
  background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);
  color:white;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  padding:10px 25px 10px 25px;
  border: thin solid #2c9c91;
  border-radius: 10px;
}

.Home-Page{
  font-family: 'Encode Sans Condensed', sans-serif !important;
  background-image: linear-gradient(-45deg,#324266,#56afa7,#324266);
  background-size:cover;
  background-position: center,center;
  background-repeat: no-repeat;
  animation-name: alternatin;
  animation-duration:  5s;
  animation-iteration-count: infinite;
}
/*@keyframes alternating {
  0%{background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);}
  17%{background-image: linear-gradient(-45deg,#192a53,#41a59c,#192a53);}
  37%{background-image: linear-gradient(-45deg,#324266,#56afa7,#324266);}
  51%{background-image: linear-gradient(-45deg,#4c5979,#6bb9b2,#4c5979);}
  68%{background-image: linear-gradient(-45deg,#324266,#56afa7,#324266);}
  85%{background-image: linear-gradient(-45deg,#192a53,#41a59c,#192a53);}
  100%{background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);}
}*/

.img-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 5%;
}
a:link.icons{
  width:20%;
  text-decoration: none !important;
  margin-top: 5%;
}
a:link.icons>img{
  border:thin solid transparent;
  border-radius: 100%;
  width:80%;
  animation-name: biggersmaller;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  height:auto;
}

a:link.icons>img:hover{
  border:thin solid #2c9c91;
  animation-name: none;
  border-radius: 100%;
  width:100%;
  height:auto;
}
a:link.back{
  text-decoration: none !important;
}
a:link.contact{
  text-decoration: none !important;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  font-size: 50px;
  color:white;
}
a:link.contact:hover{
  text-decoration: none !important;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  font-size: 50px;
  color:turquoise;
}
img.back{
  width:60px;
  height:auto;
}
div.pad-container{
  width:50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-bottom: 15%;
}

button.keypad-asterisk{
  border:thin solid blue;
  margin: 10px;
  border-radius: 50%;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  font-size: 160px;
  width:30%;
  height:auto;
  background-color: blue;
}
input[type="submit"].call-button{
  background-image: linear-gradient(-45deg,#c2e998,#9adb54,#4d6d2a);
  color:white;
  padding:10px 25px 10px 25px;
  border: thin solid #2c9c91;
  border-radius: 10px;
}
.calling-icon{
  border:thin solid transparent;
  border-radius: 100%;
  width:80%;
  animation-name: biggersmaller;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  height:auto;
}
@keyframes biggersmaller {
0%{width:80%}
50%{width:100%}
100%{width:80%}
}
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding:10px;
  color:white;
  width: 100%;
  border:thin solid black;
}
.flex-blackjack-row-1, .flex-blackjack-row-2,.flex-blackjack-row-3{
background-image:linear-gradient(to right, black,green,black);/*url('https://sheldonschoolmediatomelsworth.files.wordpress.com/2012/01/wpid-51bmfubvhllsl5001.jpg');*/
background-position: center;
}
.flex-blackjack-row-1 div{
  padding:10px;
  height:350px;
  flex: 1;
  text-align: center;
  border: 1px solid black;
}
.flex-blackjack-row-1 img{
  width:25%;
  padding:10px;
}
.flex-blackjack-row-2 div{
  padding:10px;
  flex: 1;
  text-align: center;
  border: 1px solid black;
}
table tr, td,th{
  border-collapse: collapse;
  border: 1px solid black;
  padding:5px;
  text-align: center;
}
table{
  float:right;
}
li{
  color:white;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
#rock,#paper,#scissors{
  width:20%;
  border-radius: 50%;
  animation-name: rpsbiggersmaller;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  height:auto;
}
#rock:hover{
  box-shadow: 2px 2px 2px cyan;
}
#paper:hover{
  box-shadow: 2px 2px 2px crimson;
}
#scissors:hover{
  box-shadow: 2px 2px 2px forestgreen;
}
@keyframes rpsbiggersmaller {
0%{width:20%}
50%{width:30%}
100%{width:20%}
}
#question{
  opacity: 0 ;
  font-size: 30px;
  animation-name: vanishingtext;
  animation-iteration-count: 1;
  animation-duration: 3s;
}
button.keypad{
  border:thin solid transparent;

  font-size: 160px;

}
#button-container{
  width:50%;
}
.numbers{
  background-image: linear-gradient(-45deg,midnightblue,skyblue,midnightblue);
  width:25%;
  font-family: 'Encode Sans Condensed', sans-serif !important;
  font-size: 80px;
  border-radius: 50%;
  animation-name: guessbiggersmaller;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  height:auto;
  margin:2%;
  visibility: hidden;
}
.numbers:hover{
  box-shadow: 2px 2px 2px cyan;
}

@keyframes guessbiggersmaller {
}
@keyframes vanishingtext {
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}
@media (max-width:500px) {
  #left{
    width:20%;
    float:left;
    height:696px;
    /*background-image: url("/static/Images/Entry.gif");*/
    background-size:cover;
    background-position: center;
  }
  #right{
    width:20%;
    height:696px;
    float:left;
    /*background-image: url("/static/Images/Entry.gif");*/
    background-size:cover;
    background-position: center;
  }

  #center{
    width:60%;
    height:696px;
    float:left;
    /*background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);*/
    background-size:cover;
    background-position: center;
    opacity:0.9
  }
  h1{
    font-size: 16px !important;
  }
  h2{
    font-size: 14px !important
  }
  a,h4{
    font-size:13px !important;
  }
  div{
    font-size: 12px !important
  }
  ul li{
    font-size:8px !important;
  }
  p{
    font-size: 10px !important;
  }
  h6{
    font-size: 8px !important;
  }
  img.back{
    width:20px;
    height:auto;
  }
  .img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 5%;
  }
  a:link.icons{
    width:50%;
    text-decoration: none !important;
    margin-top: 5%;
  }
  a:link.icons>img{
    border:thin solid transparent;
    border-radius: 100%;
    width:80%;
    animation-name: biggersmaller;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    height:auto;
  }

  a:link.icons>img:hover{
    border:thin solid #2c9c91;
    animation-name: none;
    border-radius: 100%;
    width:100%;
    height:auto;
  }
  .img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    justify-content:space-around;
    margin-top: 5%;
  }
  button.login-button{
    background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);
    color:white;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    padding:5px 15px 5px 15px;
    border: thin solid #2c9c91;
    border-radius: 10px;
  }

  input[type="submit"]{
    background-image: linear-gradient(-45deg,#001340,#2c9c91,#001340);
    font-family: 'Encode Sans Condensed', sans-serif !important;
    color:white;
    padding:10px 25px 10px 25px;
    border: thin solid #2c9c91;
  }
  a.link.contact{
    text-decoration: none !important;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    font-size: 50px !important;
    color:white;
  }
  .flex-blackjack-row-1 img{
    width:50%;
    padding:10px;
  }
  #rock,#paper,#scissors{
    width:40%;
    border-radius: 50%;
    animation-name: rpsbiggersmaller;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    height:auto;
    margin:15px;
  }
  @keyframes rpsbiggersmaller {
  0%{width:35%}
  50%{width:45%}
  100%{width:35%}
  }
  .numbers{
    background-image: linear-gradient(-45deg,midnightblue,skyblue,midnightblue);
    width:25%;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    font-size: 30px;
    border-radius: 50%;
    animation-name: guessbiggersmaller;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    height:auto;
    margin:4%;
    visibility: hidden;
  }
}
