{%load static%}
{%load crispy_forms_tags%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/App.css' %}">
    <script src="{%static "JS/guess.js"%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <title>Games</title>
  </head>
  <body class="Home-Page" onload="greeting(this)">
    <h1>
      <a href="{%url 'Games:game-center' %}" class="back">
        <img src="{%static 'Images/back.png' %}" class="back">
      </a>
      Guess the Number
    </h1>
    <h1 id="points">Points: 0</h1>
    <h2 id="question"></h2><br>
    <div class="container-fluid d-flex justify-content-center">
      <div class="img-container mb-3" id="button-container">
        <button class="numbers" onclick="pick_number(0)">0</button>
        <button class="numbers" onclick="pick_number(1)">1</button>
        <button class="numbers" onclick="pick_number(2)">2</button>
        <button class="numbers" onclick="pick_number(3)">3</button>
        <button class="numbers" onclick="pick_number(4)">4</button>
        <button class="numbers" onclick="pick_number(5)">5</button>
        <button class="numbers" onclick="pick_number(6)">6</button>
        <button class="numbers" onclick="pick_number(7)">7</button>
        <button class="numbers" onclick="pick_number(8)">8</button>
        <button class="numbers" onclick="pick_number(9)">9</button>
        <button class="numbers" onclick="pick_number(10)">10</button>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-5">
      <section class="d-flex">
        <ul style="list-style-type:none">
          <h4 style="text-align:center"> Rules</h4>
          <li> Correct Choice: 5 points</li>
          <li> Off by 1: 2 Points</li>
          <li> Off by 2 : 0 Points</li>
          <li> Off by > 2 : -2 poinrs</li>
        </ul>
      </section>
    </div>
