{%load static%}
{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/App.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap" rel="stylesheet">
    <script src="{%static 'JS/bj-single.js' %}"></script>
    <title>Games</title>
  </head>
<body class="Home-Page">
  <h1>
    <a href="{%url 'Games:game-center' %}" class="back">
      <img src="{%static 'Images/back.png' %}" class="back">
    </a>
    Black Jack Single Player
  </h1>
  <div>
    <h3 style="text-align:center;"><span id="blackjack-result"> Lets Play!</span></h3>
  </div>
  <div class="container">
    <div class=" row d-flex justify-content-center">
      <div class="flex-blackjack-row-1">
        <div class="float-left" id="your-box">
          <h2>You:<span id="your-score"> 0</span></h2>
        </div>
        <div class="float-right" id="dealer-box">
          <h2>Dealer:<span id="dealer-score"> 0</span></h2>
        </div>
      </div>
      <div class="flex-blackjack-row-2">
        <div>
          <button id="Hit" class="btn btn-primary btn-lg m-2">Hit</button>
          <button id="Stand" class="btn btn-warning btn-lg m-2">Stand</button>
          <button  id="Deal" class="btn btn-danger btn-lg">Deal</button>
        </div>
      </div>
      <div class="flex-blackjack-row-3 d-flex justify-content-center">
        <table style="border:thin solid black";>
          <tr>
            <th>Wins</th>
            <th>Losses</th>
            <th> Draws</th>
          </tr>
          <tr>
            <td><span id="wins">0</span></td>
            <td><span id="losses">0</span></td>
            <td><span id="draws">0</span></td>
          </tr>
          <table>
        </div>
      </div>
    </div>
    <script>
      document.querySelector('#Hit').addEventListener('click',blackjackHit);
      document.querySelector('#Stand').addEventListener('click',blackjackStand);
      document.querySelector('#Deal').addEventListener('click',blackjackDeal);
    </script>
  </body>
</html>
